*{
    margin:0;
    padding: 0;
    font-family: 'Poopins',sans-serif;
    
}
body{
    max-width: 100vw;
}
.pop-screen{
    display: none;
    padding: 25px;
    box-shadow: #0000004b 16px 16px 16px;
    border: 4px solid #3498db;
    border-radius: 8px;
    margin: 250px;
    background-color: #fff;
    position: fixed;
    z-index: 999;
}
.pop-screen h3{
    margin: 10px;
    font-size: 20px;
}
a{
    text-decoration: none;
    display: flex;
    color: black;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

a:visited{
    color: #000;
}
header{
    width: 100vw;
    height: 70px;
    background: linear-gradient(90deg,rgb(255, 0, 255),rgb(54, 87, 255));
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
iframe{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    
}
.per img{
    width: 50px;
    height: 30px;
    border-radius: 4px;
}
h1{
    font-size: 30px;
}
.per{
    margin: 10px;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: #0000008e 8px 8px 8px;
    transition: 0.7s ease;
    cursor: pointer;

}
.per:hover{
    scale: 1.1;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 70px;
    color: #fff;
    background: linear-gradient(90deg,rgb(255, 0, 255),rgb(54, 87, 255));
}
button {
    position: relative;
    background: linear-gradient(45deg, #3498db, #8e44ad);
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    margin: 10px;
    transition: color 0.7s ease; /* Smooth text color transition */
    transition: 0.7s ease;
    transform: scale(1);
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(151,55,97), rgb(52,7,213)); /* Hover gradient */
    opacity: 0;
    transition: opacity 0.7s ease; /* Smooth opacity transition */
    z-index: -1;
}
button:hover {
    transform: scale(1.1); /* Slightly scale up the button on hover */
}
button:hover::before {
    opacity: 1;
    transform: scale(1.1);
}
@media (max-width:1024px) {
    .container{
        justify-content: left;
    }
}
.cot img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.cot{
    
    width: 400px;

    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: #000000ab 16px 16px 16px;
    transition: 0.7s ease;
}
.cot:hover{
    transform: scale(1.1);
    box-shadow: #000000ab 32px 32px 32px;

}
@media (max-width: 1024px) {
    h1{
        font-size: 20px;
    }
    .cot{
        margin: 5px;
        transform: scale(0.8
        );
    }
    .cot:hover{
        transform: scale(0.9
        );
    }
    .container{
        justify-content: center;
        align-items: center;
    }
}
